In [19]:
import selenium

import pandas as pd
from selenium import webdriver
from selenium.webdriver.common.by import By
import time 
import warnings
warnings.filterwarnings('ignore')

In [20]:
driver = webdriver.Chrome()

In [21]:
driver.get('https://www.shine.com/')

In [23]:
designation = driver.find_element(By.CLASS_NAME,"form-control       ")
designation.send_keys('Data Analyst')

In [24]:
location = driver.find_element(By.XPATH,'/html/body/div[1]/div[4]/div/div[2]/div[2]/div/form/div/div[1]/ul/li[2]/div/input')
location.send_keys('Bangalore')

In [28]:
search = driver.find_element(By.XPATH,"/html/body/div[1]/div[4]/div/div[2]/div[2]/div/form/div/div[2]/div/button")
search.click()

In [29]:
job_title = []
job_location = []
company_name = []
experience_required = []

In [30]:
title_tags = driver.find_elements(By.XPATH,'//h2[@itemprop="name"]')
for i in title_tags[0:10]:
    title=i.text
    job_title.append(title)


location_tags = driver.find_elements(By.XPATH,'//div[@class=" jobCard_jobCard_lists_item__YxRkV jobCard_locationIcon__zrWt2"]')
for i in location_tags[0:10]:
    location=i.text
    job_location.append(location)
    

company_tags = driver.find_elements(By.XPATH,'//div[@class="jobCard_jobCard_cName__mYnow"]')  
for i in company_tags[0:10]:
    company=i.text
    company_name.append(company)   
    
    
experience_tags = driver.find_elements(By.XPATH,'//div[@class=" jobCard_jobCard_lists_item__YxRkV jobCard_jobIcon__3FB1t"]')  
for i in experience_tags[0:10]:
    experience=i.text
    experience_required.append(experience)

In [31]:
print(len(job_title),len(job_location),len(company_name),len(experience_required))

10 10 10 10

In [32]:
df = pd.DataFrame({'Titles':job_title,'Location':job_location,'Company':company_name,'Experience':experience_required})

In [33]:
df

,Titles,Location,Company,Experience
0,Senior Data Analyst,Bangalore\n+8,harjai computers private limited,0 to 2 Yrs
1,Hiring For Data Analyst,Bangalore\n+8,harjai computers private limited,2 to 5 Yrs
2,Data Analyst,Bangalore,true caller,3 to 5 Yrs
3,Clinical Data Analyst,Bangalore\n+4,quiscon biotech,0 to 2 Yrs
4,Mobility Data Analyst - IN/MKR,Bangalore,bosch group,4 to 6 Yrs
5,Senior Data Analyst,Bangalore,true caller,5 to 7 Yrs
6,Data Analyst,Bangalore\n+13,rama technical consultants,11 to 21 Yrs
7,Data Analyst - Java/Python,Bangalore,boyen haddin consulting and technol...,3 to 6 Yrs
8,"Data Engineer II, Amazon WFM Tech Enterprise Data",Bangalore,amazon,3 to 5 Yrs
9,"Business Data Analyst, GlowRoad",Bangalore,amazon,1 to 3 Yrs

In [14]:
#2

In [34]:
driver = webdriver.Chrome()

In [35]:
driver.get('https://www.shine.com/')

In [36]:
designation = driver.find_element(By.CLASS_NAME,"form-control  ")
designation.send_keys('Data Scientist')

In [37]:
location = driver.find_element(By.XPATH,'/html/body/div[1]/div[4]/div/div[2]/div[2]/div/form/div/div[1]/ul/li[2]/div/input')
location.send_keys('Bangalore')

In [38]:
search = driver.find_element(By.XPATH,"/html/body/div[1]/div[4]/div/div[2]/div[2]/div/form/div/div[2]/div/button")
search.click()

In [39]:
job_title = []
job_location = []
company_name = []
experience_required = []

In [40]:
title_tags = driver.find_elements(By.XPATH,'//h2[@itemprop="name"]')
for i in title_tags[0:10]:
    title=i.text
    job_title.append(title)
    


location_tags = driver.find_elements(By.XPATH,'//div[@class=" jobCard_jobCard_lists_item__YxRkV jobCard_locationIcon__zrWt2"]')
for i in location_tags[0:10]:
    location=i.text
    job_location.append(location)
    
    
    

company_tags = driver.find_elements(By.XPATH,'//div[@class="jobCard_jobCard_cName__mYnow"]')  
for i in company_tags[0:10]:
    company=i.text
    company_name.append(company)
    
    
    

experience_tags = driver.find_elements(By.XPATH,'//div[@class=" jobCard_jobCard_lists_item__YxRkV jobCard_jobIcon__3FB1t"]')  
for i in experience_tags[0:10]:
    experience=i.text
    experience_required.append(experience)

In [41]:
print(len(job_title),len(job_location),len(company_name),len(experience_required))

10 10 10 10

In [42]:
df = pd.DataFrame({'Titles':job_title,'Location':job_location,'Company':company_name,'Experience':experience_required})
df

,Titles,Location,Company,Experience
0,Data Scientist,Bangalore,the fashion cosmo,0 to 4 Yrs
1,SR. DATA SCIENTIST,Bangalore,te connectivity india pvt ltd,5 to 7 Yrs
2,Senior Data Scientist- ML Engineer,Bangalore,sap india pvt ltd,5 to 7 Yrs
3,Data Scientist Hiring Fresher and Experience,Bangalore\n+17,kavya staffing solutions,0 to 4 Yrs
4,Data Scientist III,Bangalore,inmobi,7 to 9 Yrs
5,Data Scientist,Bangalore\n+6,quiscon biotech,0 to 1 Yr
6,"Senior Data Scientist, AWS",Bangalore,amazon,10 to 12 Yrs
7,Data Scientist Recruitment,Bangalore\n+17,kavya staffing solutions,0 to 4 Yrs
8,Hiring For Data Scientist,Bangalore\n+17,kavya staffing solutions,0 to 4 Yrs
9,Hiring For Data Scientist,Bangalore\n+17,kavya staffing solutions,0 to 4 Yrs